<div class="row">
  <div class="col-auto">
    <h2>Welcome to the coolest tech blog ever! You'll learn all the facts you didn't realize you needed to know.</h2>
  </div>
</div>
<br>
{{#if posts.length}}
<div class="flex-column">
  {{#each posts as |post|}}
  <div class="card-body">
    <a href="dashboard/edit/{{post.id}}">
      <div class="card-header flex-row justify-space-between">
        <div class="col-8"> {{post.post_title}}</div>
      </div>
      <p class="card-body">
        {{post.post_body}}
      </p>
  </div>
</div>
</a>
</div>
{{/each}}
</div>
{{/if}}