<form id="edit-post-form">
  <h1>Edit Post</h1>
  <label class="form-label" for="post">Post Title</label>
  <input class="form-input" type="text" name="post-title">
  <label class="form-label" for="post">Post</label>
  <textarea class="form-textarea" type="text" name="post-body"></textarea>
  <button class="btn" type="submit">Update Post</button>
  <button class="btn" id="delete-button">Delete</button>
</form>

<script src="/js/edit.js"></script>