<form id="login-form">
  <h1 class="card-header">Log In</h1>
  <input class="form-input" type="text" placeholder="Username" id="username-input-login">
  <input class="form-input" type="password" placeholder="Password" id="password-input-login">
  <button class="btn btn-inline" type="submit">Submit</button>
</form>
<button class="btn" id="signup-button">Sign Up Instead</button>

<script src="/js/login.js"></script>