<form id="login-form">
  <h1>Log In</h1>
  <input type="text" placeholder="Username" id="username-input-login">
  <input type="password" placeholder="Password" id="password-input-login">
  <button type="submit">Submit</button>
  <a href="/views/signup.handlebars">Sign Up Instead</a>
</form>

<script src="/js/login.js"></script>