<form id="new-post-form">
  <h1>Log In</h1>
  <input type="text" name="post-title">
  <textarea type="text" name="post-body">
  <button type="submit">Submit</button>
</form>

<script src="/js/new.js"></script>