<form id="signup-form">
  <h1>Sign In</h1>
  <input type="text" placeholder="Username" id="username-input-signup">
  <input type="password" placeholder="Password" id="password-input-signup">
  <button type="submit">Submit</button>
</form>

<script src="/js/signup.js"></script>