<form id="signup-form">
  <h1 class="card-header">Sign Up</h1>
  <input class="form-input" type="text" placeholder="Username" id="username-input-signup">
  <input class="form-input" type="password" placeholder="Password" id="password-input-signup">
  <button class="btn btn-inline" type="submit">Submit</button>
</form>
<button class="btn btn-inline" id="login-button">Log In Instead</button>

<script src="/js/signup.js"></script>